/* Styl stránky */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cbcbc2;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Hlavička */

header {
    background-color: #408db3;
    color: white;
    text-align: center;
    padding: 20px;

    display: flex;
    align-items: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info {
    text-align: right;
}

.info h1 {
font-size: 24px;
margin-bottom: 5px;
}

.info p {
    font-size: 18px;
    color: white;
}

/* Ostatní sekce */

Prace {
background-color: #90908a;
}


h2 {
        margin-top: 0px;
        margin-bottom: 100px;
    }

/* Tabulka jazyky */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Patička */

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}