/* Styl stránky */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cbcbc2;
    color: #333;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Hlavička */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #408db3;
    color: white;
    text-align: center;
    padding: 20px;

    display: flex;
    align-items: center;
}

/*.profile img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}*/

.info {
    text-align: right;
}

.info h1 {
font-size: 24px;
margin-bottom: 5px;
}

.info p {
    font-size: 18px;
    color: white;
}

/* Ostatní sekce */

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #408db3;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    font-size: 16px;
    padding-left: 0;
}

strong {
    color: #333;
    font-weight: bold;
}

.School ul {
    margin-bottom: 16px;
}

/* Tabulka */

.languages table {
    width: 100%;
    border-collapse: collapse;
}

.languages table, th, td {
    border: 1px solid #ddd;
}

.languages th, td {
    padding: 8px;
    text-align: left;
}

.languages th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.languages td {
    font-size: 16px;
}

.languages tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Kontakty */

.contacts ul {
    list-style-type: none;
    padding-left: 0;
}

.contacts ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.contacts ul li a {
    text-decoration: none;
    color: #0073b1;
}

.contacts ul li a:hover {
    text-decoration: underline;
}

.contacts ul li {
    font-size: 16px;
    color: #408db3;
}


/* Patička */

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}